@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Domine&family=Open+Sans&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Domine&family=Merriweather:ital,wght@0,400;1,400;1,700&family=Open+Sans&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Corinthia:wght@700&family=Domine&family=Merriweather:ital,wght@0,400;1,400;1,700&display=swap');


/* * {
    border: 1px solid white;
} */

header {
    background-color: #002535;
}

body {
    background-color: #002535;
    margin:0px
}

#logo {
    max-width: 100px;
    margin-left:50px;
    position: absolute;
    top: 15%;
    left: 5%;
    transform: translate(-50%, -50%);
}

nav {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right:50px;
}

nav a {
    color: #002535;
    margin: 5px;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
}
a:active {
    color: #bfd2d9;
}

a:hover {
    color:#bfd2d9;
    text-decoration: none
}

div {
    text-align: center;
}

#main_div {
    background-color: #002535;
}

#main_div1 {
    background-color: #002535;
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content:center;
    align-content: center;

}

.div_1 {
    display: inline-block;
    width: 40%;
    padding:20px;
    margin-top: 5px;
    align-self: center;
}

.my_projects {
    color: #DEC9CF;
    display: inline;
    float: left;
    border: solid #74969C;
    padding: 15px;
    text-decoration: none;
    box-shadow: 10px 10px 5px #22646e;
    z-index: 2
}

#profile {
    width: 410px;
    box-shadow: 15px 15px 5px #22646e;
    z-index: 2;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: #bfd2d9;
    text-align: left;
    font-size: 50px;
    margin-top: 0px;
    
}

h2 {
    font-family: 'Playfair Display', serif;
    color: #22646e;
    font-weight: bold;
    text-align: left;
    font-size: 26px;
    max-width: 75%;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    line-height: 2em;
    max-width: 85%;
    color: #bfd2d9;
}


#main_div2 {
    background-color: #002535;
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content:space-evenly;
    align-content: center;
}


.flash{
    
    width: 450px;
    box-shadow: 15px 15px 5px #22646e;
    z-index: 2;

}

.div_2 {
    display: inline-block;
    width: 40%;
    padding:20px;
    margin-top: 5px;
}


.container {
    padding-top: 2px;
    position: relative;
    text-align: center;
    color: white;
    margin-top: 5px;
}


.left {
    position: absolute;
    bottom: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}


.right {
    position: absolute;
    bottom: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.title {
    position: absolute;
    font-size: 90px;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Merriweather', serif;
    font-style: italic;
    color: #bfd2d9;
    z-index: 5;
    max-width: 100%;

}

.title-home {
    position: absolute;
    font-size: 81px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Merriweather', serif;
    font-style: italic;
    color: #bfd2d9;
    z-index: 5;
}

.flex {
    display: flex;
    margin: 80px;
}

.main_div_project {
    align-content: center;
    display: flex;
    justify-content:space-evenly;

}

.project1 {
    width: 50%;
    display: inline-block;
    text-align: left;
    margin: 5px;
}

.subtitle {
    font-size: 90px;
    color: whitesmoke;
    z-index: 10;
    margin-left: -30px;

}

.counter-base {
    color: #22646e;
    font-size: 200px;
    font-family: 'Sans Serif', Arial, sans-serif;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: -18px;
    /* opacity: 0.4; */
    height: 150px;
    z-index: 4;
    max-width: 75%;

}

.counter-left {
    text-align: left;
} */


.counter-right {
    color: #22646e;
    font-size: 200px;
    font-family: 'Sans Serif', Arial, sans-serif;
    text-align: left;
    margin-left: -200px;
    position: absolute;
    right: 690px;
    bottom: -1130px;
    opacity: 0.4;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: -18px;
}

#python {
    max-width: 30%;
    transform: scale(0.9);
    transition: transform 0.4s cubic-bezier(0, 0, 0.3, 1);
    cursor: pointer;
    box-shadow: 15px 15px 5px #22646e;
    z-index: 2;

}

#python:hover {
    transform: scale(1);
}

#html {
    max-width: 30%;
    transform: scale(0.9);
    transition: transform 0.4s cubic-bezier(0, 0, 0.3, 1);
    cursor: pointer;
    box-shadow: 15px 15px 5px #22646e;
    z-index: 2;

}

#html:hover {
    transform: scale(1);
}


.footer{
    color: white;
    text-align: center;
    position: relative;
}

.footer-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   

}

.footer-item {
    align-self: center;
    text-align: center;
    align-content: center;
    align-items: center;
    max-width: 100%;
}

footer div {
    display: inline-block;
    width: 30%;
}

.icon {
    width: 60px;
    padding: 10px;
}


.getintouch {
    font-size: 40px;
    letter-spacing: 2px;
    color: #bfd2d9;
    max-width: 100%;
}

.contact {
    margin: 100px 0px 100px 0px;
    display: flex;
    align-self: center;
    justify-content: space-evenly;   
}

.witwa {
    width: 400px;
    box-shadow: 15px 15px 5px #22646e;
    margin-left: 10px;
}

form {
    margin: 50px auto;
    width: 100%;
}


.form-item {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    flex-direction: column;
    padding: 5px;
}

.form-item label {
    font-size: 20px;
    color: #bfd2d9;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    background-color: #002535;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #bfd2d9;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #22646e;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
    background-color: #002535;

}

.form-item button {
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}

.form-item button:hover {
    border: 2px solid #22646e;
    background-color: #bfd2d9;
    color: #002535;
}

.form-item button {
    width: 100px;
    color: #bfd2d9;
}

/* #max=until that width */

@media (max-width: 1200px) {
    
    .title-home {
        font-size: 70px;
        top: 40%;
        width: 100%;
    }

    
    .contact {
        justify-content: space-between;
        }

        .witwa {
            max-width: 370px;
        }
    
    #python, #html {
        max-width: 40%;
    }

    .title {
        font-size: 90px;
        top: 50%;
    }

    .counter-base {

        font-size: 180px;
    }

}

@media (max-width:1100px) {
    .title-home {
        font-size: 65px;
        top: 30%;
        width: 100%;
    }

    .title {
        max-width: 100%;
        font-size: 80px;
        top: 50%;
    }

    #profile, .flash {
        max-width: 380px;
    }
    p {
        max-width: 90%;
    }

    .witwa {
        
        display: none;
    }

    .form {
        max-width: 70%;
        text-align: center;
        align-self: center;
        
    }

    .contact {
        flex-direction: column;
        flex-wrap: wrap;
        
        text-align: center;
        }

    
}
/*min=it won't apply until is that width */

@media (max-width:945px) {
    
    nav {
        margin-right: -25px;
    }

    #logo {
        margin-left: 5px;
        top: 10%;
    }
    
    p {
        width: 100%;
    }
    .title-home {
        font-size: 65px;
        top: 30%;
        width: 100%;  
    }

    .title {
        max-width: 100%;
        font-size: 65px;
        top: 45%;
    }

    #profile, .flash {
        max-width: 350px;
    }

    #main_div2{
        justify-content:space-between;
    }

    #main_div1 {
        justify-content:start;
    } 
    .getintouch {
        font-size: 35px;
    }

    .main_div_project {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
    }

    .project1 {
        width: 100%;
    }

    #python, #html {
        max-width: 55%;
        margin-top: 30px;
}

#html {
    order:1
}

.subtitle {
    font-size: 80px;

}

}


@media (max-width: 775px) { 
    .title-home {
        font-size: 60px;
        top: 30%;    
    }
    
    .title {
        max-width: 100%;
        font-size: 56px;
        top: 40%;
    }

    #logo {
        max-width: 80px;
        margin-left: 5px;
        top: 10%;
    }

    #main_div1 {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
    }

    #main_div2 {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
    }


    .div_2 , .div_1{
        width: 80%;
        text-align: left;
    }

    nav {
        top:7%;
    }

    nav a{
        font-size: 18px;
    }

    #main_div1 {
        flex-wrap: wrap;
    }

    #main_div2 {
        flex-wrap: wrap;
    }

    #about_me {
        order:-1;
    }

    p {
        width: 100%;
    }

    .counter-base {
        font-size: 160px;
    }

    .subtitle {
        font-size: 75px;
    }
}

@media (max-width: 664px) {

    #profile, .flash {
        max-width: 300px;
    }

    nav a{
        font-size: 15px;
    }

    h1 {
    font-size: 40px;
    }

    .title-home {
        font-size: 55px;
        top: 25%;    
    }

    #logo {
        max-width: 60px;
        margin-left: 5px;
        top: 5%;
    }

    .title {
        max-width: 100%;
        font-size: 50px;
        top: 35%;
    }

    .getintouch {
        font-size: 30px;
    }

    .icon {
        width: 50px;
        padding: 10px;
    }

    .counter-base {
        font-size: 117px;
    }
}


@media (max-width: 581px) {

    .title-home {
        font-size: 45px;
        top: 20%;    
    }

    #profile, .flash {
        max-width: 250px;
    }

    p {
        font-size: 15px;
    }

    nav a{
        font-size: 12px;
        padding: 10px; 
    }

    .title {
        max-width: 100%;
        font-size: 42px;
        top: 35%;
    }

    .getintouch {
        font-size: 25px;
    }

    .icon {
        width: 40px;
        padding: 10px;
    }

    .counter-base {
        font-size: 110px;
    }

    .subtitle {
        font-size: 65px;
    }
    .footer-items {
        flex-direction: row;
    }
}

@media (max-width: 475px) {
    .title-home {
        font-size: 40px;
        top: 20%;    
    }
    
    .title {
        max-width: 100%;
        font-size: 38px;
        top: 35%;
    }

    .getintouch {
        font-size: 23px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
    #logo {
        max-width: 50px;
        margin-left: 5px;
        top: 5%;
    }

    .counter-base {
        font-size: 80px;
    }

    .subtitle {
        font-size: 50px;
    }

    .icon {
        width: 30px;
        padding: 5px;
    }

    p.footer-item {
        font-size:12px ;
    }

    .my_projects {
        font-size: 12px;
        letter-spacing: 2px;
        padding: 10px;
    }

}

@media (max-width: 396px) {
    nav a{
        font-size: 12px;
        padding: 5px; 
    }

    .title-home {
        font-size: 35px;
        top: 20%;    
    }

    #profile, .flash {
        max-width: 200px;
    }

    .title {
        max-width: 100%;
        font-size: 27px;
        top: 35%;
    }

    .getintouch {
        font-size: 18px;
    }

    .form-item label {
        font-size: 15px;
    }
}



.button {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    color: #DEC9CF;
    display: inline;
    float: left;
    border: solid #74969C;
    padding: 15px;
    text-decoration: none;
    box-shadow: 10px 10px 5px #22646e;
    z-index: 1;
    cursor: pointer;
}


span {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #22646e;
    z-index: -1;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    animation: ripple 700ms linear infinite
}

/* .button:hover span {
    animation: button_animation 1s ease;
} */

@keyframes ripple {
    0% {
        height: 0;
        width: 0;
        opacity: 0.5;
        /* transform: translate(-50%, -50%) scale(0); */
    }
    100%{
        height: 700%;
        width: 700%;
        opacity: 0;
    }
}